In [3]:
import numpy as np
import pandas as pd
import sklearn
from sklearn import datasets
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [7]:
os.chdir('C:\\Users\\Sheyi_max\\Desktop\\ML\\ML Traninig\\Milestone2-Python For Machine Learning\\Topic5_Practical Machine Learning with Scikit-Learn\\Scikit-Learn Tutorial\\Seed_from_UCI')
os.getcwd()

'C:\\Users\\Sheyi_max\\Desktop\\ML\\ML Traninig\\Milestone2-Python For Machine Learning\\Topic5_Practical Machine Learning with Scikit-Learn\\Scikit-Learn Tutorial\\Seed_from_UCI'

In [10]:
total_data = pd.read_csv('Seed_Data.csv')
total_data.head()

       A      P       C     LK     WK  A_Coef    LKG  target
0  15.26  14.84  0.8710  5.763  3.312   2.221  5.220       0
1  14.88  14.57  0.8811  5.554  3.333   1.018  4.956       0
2  14.29  14.09  0.9050  5.291  3.337   2.699  4.825       0
3  13.84  13.94  0.8955  5.324  3.379   2.259  4.805       0
4  16.14  14.99  0.9034  5.658  3.562   1.355  5.175       0

In [13]:
#Lets get the description of the data

total_data.describe

<bound method NDFrame.describe of          A      P       C     LK     WK  A_Coef    LKG  target
0    15.26  14.84  0.8710  5.763  3.312   2.221  5.220       0
1    14.88  14.57  0.8811  5.554  3.333   1.018  4.956       0
2    14.29  14.09  0.9050  5.291  3.337   2.699  4.825       0
3    13.84  13.94  0.8955  5.324  3.379   2.259  4.805       0
4    16.14  14.99  0.9034  5.658  3.562   1.355  5.175       0
..     ...    ...     ...    ...    ...     ...    ...     ...
205  12.19  13.20  0.8783  5.137  2.981   3.631  4.870       2
206  11.23  12.88  0.8511  5.140  2.795   4.325  5.003       2
207  13.20  13.66  0.8883  5.236  3.232   8.315  5.056       2
208  11.84  13.21  0.8521  5.175  2.836   3.598  5.044       2
209  12.30  13.34  0.8684  5.243  2.974   5.637  5.063       2

[210 rows x 8 columns]>

In [18]:
#since the eight column, Target is of no value to our data, we remove it

x = total_data.iloc[:, 0:7]
x.head()

       A      P       C     LK     WK  A_Coef    LKG
0  15.26  14.84  0.8710  5.763  3.312   2.221  5.220
1  14.88  14.57  0.8811  5.554  3.333   1.018  4.956
2  14.29  14.09  0.9050  5.291  3.337   2.699  4.825
3  13.84  13.94  0.8955  5.324  3.379   2.259  4.805
4  16.14  14.99  0.9034  5.658  3.562   1.355  5.175